## General

*.pyc
*.ipynb_checkpoints
__pycache__

*.npy
*.pkl

*.swp
*.swo

.envrc

## Project

*.pth
*live.ipynb

/output
/output/**

## Machine
.vscode/
MUJOCO_LOG.TXT
docker/MUJOCO_LOG.TXT
docker/mjkey.txt

